{% if post.header.teaser %} {% capture teaser %}{{ post.header.teaser }}{% endcapture %} {% else %} {% assign teaser =
site.teaser %} {% endif %}

<div class="{{ include.type | default: 'list' }}__item">
    <a class="archive__item-link" href="{{ post.url | relative_url }}" style="text-decoration: none">
        <article class="archive__item card" itemscope itemtype="https://schema.org/CreativeWork" {% if post.locale %}
                 lang="{{ post.locale }}" {% endif %}>
            <div class="archive__item-teaser">
                <img src="{{ teaser | relative_url }}" alt="{{ post.title }}"/>
            </div>
            {% if post.excerpt %}
                <p class="archive__item-excerpt" itemprop="description">
                    {{ post.excerpt | markdownify | strip_html | truncate: 200 }}
                </p>
            {% endif %}
        </article>
    </a>
</div>
