<div class="project-btns" style="margin-bottom: 20px">
    <div style="display: block; margin: auto">
        <div style="display:inline-block;position:relative;">
            <div><a href="https://github.com/lf-energy/" class="btn btn--primary"><i class="fa-brands fa-github"
                                                                         style="margin-right:10px;"></i>GitHub</a>
            </div>
        </div>
        <div style="display:inline-block;position:relative;">
            <div><a href="https://lfenergy.org/" class="btn btn--primary"><i
                    class="fa-solid fa-user-group"
                    style="margin-right:10px;"></i>Community</a>
            </div>
        </div>
        <div style="display:inline-block;position:relative;">
            <div><a href="https://lfenergy.slack.com/" class="btn btn--primary"><i
                    class="fa-solid fa-arrow-up-right-from-square"
                    style="margin-right:10px;"></i>Website</a>
            </div>
        </div>
    </div>
</div>
