/* ==========================================================================
   RTE skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #244068 !default;
$primary-high-contrast-color: #244068 !default;
$primary-low-contrast-color: #244068 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
@import "minimal-mistakes"; // import minimal-mistakes mixines

/* Nunito Sans font for all the website */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,400&display=swap');
$global-font-family: 'Nunito Sans', sans-serif;
$header-font-family: 'Nunito Sans', sans-serif;
$caption-font-family: 'Nunito Sans', sans-serif;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.archive__item-teaser {
  position: relative;
  border-radius: 0;
  overflow: hidden;
  height: 15em;
  margin: 0.5em;

  img {
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
  }
}

.greedy-nav {
  .site-logo {
    img {
      //RTE logo
      height: 5rem;
      width: 5rem;
      max-height: 5rem;
    }
  }

  a.site-title {
    //RTE title
    font-size: 1.5rem;
    text-decoration-color: $primary-high-contrast-color;
    color: $primary-high-contrast-color;
    font-family: $header-font-family;
  }
}

#main {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: $primary-high-contrast-color;

  .breadcrumbs {
    margin: 0;
    font-family: $global-font-family;

    ol {
      width: auto;
      float: none;
    }
  }
}

.masthead {
  background-color: #fff;

  .masthead__inner-wrap {
    padding: 0;

    .greedy-nav {
      background-color: transparent;
    }
  }

  .masthead__menu-item {
    font-family: $global-font-family;
  }
}

hr.header-line {
  height: 2px; // line weight
  border: none;
  flex: 1 1 auto;
  background-color: $primary-low-contrast-color;
}

div.page-title-with-line {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.entries-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .entries-grid-header {
    display: flex;
    gap: 1rem; // gap between line and text in header
    hr.header-line {
      height: 2px; // line weight
      border: none;
      flex: 1 1 auto;
      background-color: $primary-low-contrast-color;
    }
  }

  .entries-grid-items {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include breakpoint($small) {
      @include breakpoint($medium) {
        grid-template-columns: 1fr 1fr 1fr;
        .grid__item:nth-child(3n + 1):nth-last-child(-n + 1) {
          grid-column-start: 2; // display first element in the middle
        }
      }
      grid-template-columns: 1fr 1fr;
    }

    .grid__item {
      width: 100%;
      margin: 0;

      p {
        margin: 0;
      }

      .archive__item-teaser {
        max-height: 200px;
      }

      .archive__item-excerpt {
        padding: 0rem 1rem;
        height: 5em;
      }
    }
  }
}

.card {
  border-radius: 0.5rem;
  --tw-shadow: 0px 2px 6px 0px rgba(17, 22, 26, 0.16), 0px 4px 10px 0px rgba(17, 22, 26, 0.1);
  --tw-shadow-colored: 0px 2px 6px 0px var(--tw-shadow-color), 0px 4px 10px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 1rem;
  background-color: white;
  height: 100%;
}

.archive__item {
  position: relative;

  .archive__item-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;
  }
}

#footer.page__footer {
  .page__footer-follow {
    font-size: 0.8rem;
  }
}

.see-more {
  margin-left: auto;
}

.page__title {
  display: flex;
  gap: 2rem;

  .page__title-text {
    width: fit-content;

    p,
    h1 {
      margin: 0;
    }

    hr {
      height: 2px; // line weight
      border: none;
      margin: 0;
      background-color: $primary-low-contrast-color;
    }
  }

  .page__title-logo {
    display: flex;
    width: 20rem;
    flex: 1 1 0;
    justify-content: center;
    margin-bottom: 2rem;

    img {
      width: 20rem;
      max-height: 20rem;
      margin: auto;
    }
  }
}

.project-btns .btn {
  font-weight: unset;
  font-family: $global-font-family;
}

/* make visible links in header stack vertically when screen is too narrow (for mobile devices) */

.masthead__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /* Ensure space between logo/title and links */
}

.visible-links {
  display: flex;
  flex-direction: row;
  margin-left: auto; /* Push the links to the right of the logo and title */
}

.visible-links li {
  margin-left: 10px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .masthead__menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .visible-links {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    width: 100%; /* Ensure full width for vertical stacking */
  }

  .visible-links li {
    margin-left: 0;
    margin-bottom: 10px; /* Adjust as needed */
  }
}

