---
layout: default
---

<div id="main" role="main">
    {{ content }}

    {% assign entries_layout = page.entries_layout | default: 'list' %}
    <div class="entries-{{ entries_layout }}">
        {% include documents-collection.html collection=page.collection type=entries_layout category="lfe"
        category-title="Linux Foundation Energy projects" %}
    </div>

    <hr>

    <div class="entries-{{ entries_layout }}">
        {% include documents-collection.html collection=page.collection sort_by=page.sort_by
        sort_order=page.sort_order type=entries_layout category="rte" category-title="rte-france foundation
        projects" %}
    </div>

    <hr>

    <div class="entries-{{ entries_layout }}">
        {% include documents-collection.html collection=page.collection sort_by=page.sort_by
        sort_order=page.sort_order type=entries_layout category="contribution" category-title="RTE actively
        contributes in" %}
    </div>
</div>