---
layout: default
---
<main id="main">
    <article {% if page.locale %} lang="{{ page.locale }}" {% endif %}>
        {% if page.title %}
        <meta itemprop="headline"
              content="{{ page.title | replace: '|', '&#124;' | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        {% if page.excerpt %}
        <meta itemprop="description"
              content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        <div class="page-title-with-line">
        <hr class="header-line" />
        <h1>{{page.title}}</h1>
        <hr class="header-line" />
        </div>
        {{ content }}
    </article>
</main>